body {
	background-color: #2E2E2E;
}

#lampcontrol {
	display: none;
	margin-top: 20px;
}

#conf_panel_open.btn {
	display: none;
	padding: 0px;
	font-size: 8pt;
	color: white;
}

#conf_panel_open.btn:hover {
	color: black;
}

#conf_panel {
	/*border-bottom: 1px solid black;*/
}

.btn {
	color: white;
	background-color: darkgray;
}